@use "../../styles/variables" as *;

.fm-progress {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .fm-progress-bar {
    width: 100%;
    border-radius: 4px;
    background-color: $border-color;
    height: 6px;
    overflow: hidden;

    .fm-progress-bar-fill {
      height: 100%;
      background-color: $primary-color;
      border-radius: 4px;
      max-width: 100%;
      transition: width 0.3s ease;
    }
  }

  .fm-progress-status {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: $text-primary;
  }

  .fm-upload-canceled {
    font-size: 13px;
    font-weight: 500;
    color: #ea4335;
  }
}