body {
  margin: 0;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  background-color: #f8f9fa;
}

.app {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;

  .file-manager-container {
    height: 90%;
    width: 95%;
    max-width: 1400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
}